* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #5a1f08; /* same brown as navbar */
  font-family: Arial, Helvetica, sans-serif;
}